.drink-item-container {
  text-align: center;
}

.drink-item-img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin-bottom: 8px;
}

.drink-item-name {
  font-weight: bold;
  font-size: 16px;
  color: #333; /* Adjust the color as needed */
}
